@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Cuprum';

  font-display: swap;
  src:
    url('../fonts/cuprum.woff') format("woff"),
    url('../fonts/cuprum.woff2') format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Cuprum';

  font-display: swap;
  src:
    url('../fonts/cuprumbold.woff') format("woff"),
    url('../fonts/cuprumbold.woff2') format("woff2");
}

@font-face {
  font-style: italic;
  font-weight: 700;
  font-family: 'Cuprum';

  font-display: swap;
  src:
    url('../fonts/cuprumbolditalic.woff') format("woff"),
    url('../fonts/cuprumbolditalic.woff2') format("woff2");
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: 'Cuprum';

  font-display: swap;
  src:
    url('../fonts/cuprumitalic.woff') format("woff"),
    url('../fonts/cuprumitalic.woff2') format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'PT Sans';

  font-display: swap;
  src:
    url('../fonts/ptsans.woff') format("woff"),
    url('../fonts/ptsans.woff2') format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'PT Sans';

  font-display: swap;
  src:
    url('../fonts/ptsansbold.woff') format("woff"),
    url('../fonts/ptsansbold.woff2') format("woff2");
}


:root {
  /* Переменные Цвета */
  --basic-dark-blue: #293449;
  --basic-blue: #32425C;
  --button-red: #EE3643;
  --order-green: #63A63E;
  --order-green-hover: #5FBB2D;
  --basic-light-blue: #F1F5F7;
  --basic-beige: #F9F5F0;
  --basic-white: #FFFFFF;
  --materials-yellow: #FFBF47;
  --tool-blue: #3BBCE3;
  --technics-pink: #DC91D8;
  --discounts-green: #8ED78F;
  --delivery-yellow: #FFC047;
  --social-blue: #212A3A;
  --basic-black: #000000;
  --basic-focus: rgba(255, 255, 255, 0.5);
  --basic-focus-back: #161D29;
  --basic-focus-nav: #1D2739;
  --link-active: #C5C5C5;
  --old-price: #A9A9A9;
  --aiming-red: #CA2C37;
  --active-red: #BA2732;
  --address: #F3F7F9;
  --footer-nav-white: #F1F5F7;
  --footer-nav-yellow: #FFD180;
  --dark-blue: #405069;
  --black1: rgba(0, 0, 0, 0.24);
  --black2: rgba(0, 0, 0, 0.15);
  --grey1: rgba(255, 255, 255, 0.3);
  --grey2: rgba(197, 197, 197, 0.3);
  --grey3: rgba(169, 169, 169, 0.3);
  --background-filter: #F7F3EC;
  --basic-frame: #E5E5E5;
  --feedback-back: #F4F4F4;


  /* Переменные Шрифты */
  --basic-font: 'Cuprum', Arial, sans-serif;
  --basic-font-second: 'PT Sans', Arial, sans-serif;

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  min-width: none;
  margin: 0;
  padding: 0;
  font-family: var(--basic-font);
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/* Общее */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.links {
  text-decoration: none;
  color: var(--basic-white);
  font-family: var(--basic-font);
}

.lists {
  list-style: none;
}
/* Шапка сайта */
/* верх */

.main-logo {
  width: 220px;
  height: 47px;
  background-color: var(--button-red);
  display: inline-flex;
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 12px;
  padding-bottom: 17px;
  box-shadow: inset 0px -5px 0px var(--black1);
  order: 0;
}
.header {
  background-color: var(--basic-light-blue);
}

.header-top-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 9px;
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
  font-family: var(--basic-font);
}

.header-top-bar {
background-color: var(--basic-dark-blue);
}

.header-middle {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

.header-top-search::before {
  content: '';
  display: inline-block;
  height: 17px;
  width: 17px;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  
}

.bookmarks::before {
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url('../img/Shape.svg');
  background-repeat: no-repeat;
}

.bookmarks {
  color: var(--basic-white);
  text-align: center;
}

.bookmarks:focus {
  background-color: var(--basic-focus-back);
  color: var(--basic-focus);
}

.basket::before {
  content: '';
  display: inline-block;
  height: 15px;
  width: 14px;
  background-image: url('../img/bookmark.svg');
  background-repeat: no-repeat;
}

.basket {
  color: var(--basic-white);
  text-align: center;
}

.basket:focus {
  background-color: var(--basic-focus-back);
  color: var(--basic-focus);
}

.checkout {
  display: block;
  width: 150px;
  line-height: 42px;
  text-align: center;
  background-color: var(--order-green);
}

.checkout:hover {
  background-color: var(--order-green-hover);
}

.checkout:focus {
  background-color: var(--order-green);
  color: var(--basic-focus);
}


/* Шапка сайта */
/* Середина */

.header-text {
  width: 400px;
  font-family: 'Cuprum', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--button-red);
}

.header-phone::before {
  content: '';
  height: 19px;
  width: 19px;
  background-image: url('../img/phone.svg');
  background-repeat: no-repeat;
}

.header-phone {
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--button-red);
  width: 1200px;
  height: 320px;
  border: 3px solid var(--basic-white);
  text-align: center;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
  text-align: center;
}

.login-link {
  display: block;
  width: 121px;
  height: 45px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  padding-top: 12px;
}

.registration-link {
  display: block;
  width: 121px;
  height: 45px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  padding-top: 12px;
}

.login-link:hover,
.registration-link:hover {
  color: var(--button-red);
}

.login-link:active,
.registration-link:active {
  color: var(--link-active);
}


/* Шапка сайта */
/* Навигация */


.main-navigation {
  max-width: 940px;
  font-family: var(--basic-font);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--social-blue);
  line-height: 60px;
  text-align: center;
}

.site-navigation:hover {
  background-color: var(--basic-blue);
  color: #FFFFFF;
}

.site-navigation:active {
  background-color: var(--basic-focus-nav);
  color: var(--basic-white);
  opacity: 0.5;
}

/* main */
.main-lists-materials {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.materials {
  background-color: var(--materials-yellow);
  width: 300px;
  height: 123px;

  font-family: var(--basic-font);
  font-weight: 700;
}

.tool {
  background-color: var(--tool-blue);
  width: 300px;
  height: 123px;

  font-family: var(--basic-font);
  font-weight: 700;
}

.technics {
  background-color: var(--technics-pink);
  width: 300px;
  height: 123px;

  font-family: var(--basic-font);
  font-weight: 700;
}

.discounts {
  background-color: var(--discounts-green);
  width: 300px;
  height: 123px;
  font-family: var(--basic-font);
  font-weight: 700;
}

.delivery {
  background-color: var(--delivery-yellow);
  width: 300px;
  height: 123px;
  font-family: var(--basic-font);
  font-weight: 700;
}

.products-list {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-white);
}

.catalog-button {
  background-color: var(--grey1);
  color: var(--basic-white);
  width: 135px;
  line-height: 38px;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.catalog-button:hover {
  background-color: var(--grey2);
}

.catalog-button:active {
  background-color: var(--grey3);
}

.slider-products {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
}

.slider-text {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.slider-button {
  background-color: var(--button-red);
  color: var(--basic-white);
  width: 192px;
  line-height: 38px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

/* Популярные товары */

.popular-products {
  background-color: var(--basic-beige);
  display: grid;
  grid-template-columns: 1fr min-content;
}

.popular-products-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.products-heading {
  text-transform: uppercase;
  color: var(--basic-blue);
  font-size: 30px;
  line-height: 30px;
}

.button-products {
  background-color: var(--button-red);
  color: var(--basic-white);
  width: 192px;
  line-height: 38px;
  display: block;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.button-products:hover,
.button-manufacturers:hover,
.slider-button:hover {
  background-color: var(--aiming-red);
}

.button-products:active,
.button-manufacturers:active,
.slider-button:active {
  background-color: var(--active-red);
}

.popular-products-item {
  width: 220px;
  height: 318px;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-beige);
  text-align: center;
}

.popular-products-item:hover {
  box-shadow: 0px 4px 20px var(--black2);
}

.popular-products-name {
  color: var(--basic-black);
  font-family: var(--basic-font-second);
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.old-price {
  color: var(--old-price);
  font-family: var(--basic-font-second);
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.new-price {
  width: 141px;
  line-height: 38px;
  font-size: 17px;
  background-color: var(--button-red);
  color: var(--basic-white);
  font-family: var(--basic-font-second);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  display: block;
  border-radius: 2px;
}

.popular-manufacturers {
  background-color: var(--basic-beige);
  display: grid;
  grid-template-columns: 1fr min-content;
}

.manufacturers-heading {
  text-transform: uppercase;
  color: var(--basic-blue);
  font-size: 30px;
  line-height: 30px;
}

.button-manufacturers {
  background-color: var(--button-red);
  color: var(--basic-white);
  width: 192px;
  line-height: 38px;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.popular-manufacturers-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr  1fr  1fr  1fr;
}

.popular-manufacturers-item {
  width: 220px;
  height: 145px;
  border: 1px solid var(--basic-beige);
}

.popular-manufacturers-item:hover {
  box-shadow: 0px 4px 20px var(--black2);
}

.popular-manufacturers-item:active {
  box-shadow: 0px 4px 20px var(--black2);
  opacity: 0.5;
}

.button-hover-buy {
  font-family: var(--basic-font);
  font-size: 14px;
  Width: 135px;
  line-height: 38px;
  background-color: var(--order-green-hover);
}

.button-hover-bookmarks {
  Width: 135px;
  line-height: 38px;
  font-size: 14px;
  font-family: var(--basic-font);
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-white);
  text-align: center;
  border: 3px solid var(--order-green-hover);
  border-radius: 2px;
}

.main-services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.services {
  background-color: var(--basic-light-blue);
}

.heading {
  font-family: var(--basic-font);
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.services-text {
  font-family: var(--basic-font-second);
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.credit-button {
  width: 195px;
  line-height: 38px;
  font-family: var(--basic-font);
  text-transform: uppercase;
  font-size: 14px;
  color: var(--basic-white);
  background-color: var(--button-red);
  text-align: center;
  display: block;

}
.services-button-item {
  width: 240px;
  height: 61px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-dark-blue), inset 0px 1px 0px var(--dark-blue);
  font-family: var(--basic-font);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.services-button-item:hover {
  background-color: var(--basic-dark-blue);
}

.services-button-item:active {
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-white), inset 0px 1px 0px var(--basic-white);
  color: var(--basic-blue);
}

.services-item-name {
  font-family: var(--basic-font);
  color: var(--basic-blue);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.company {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.company-text {
  width: 460px;
  height: 147px;
  
}

.company-button {
  background-color: var(--button-red);
  color: var(--basic-white);
  width: 220px;
  line-height: 38px;
  font-size: 14px;
  display: block;
  text-transform: uppercase;
  text-align: center;
}

.contacts-button {
  background-color: var(--button-red);
  color: var(--basic-white);
  width: 300px;
  line-height: 38px;
  font-size: 14px;
  display: block;
  text-transform: uppercase;
  text-align: center;
}

.company-button:hover,
.contacts-button:hover {
  background-color: var(--aiming-red);
}

.company-button:active,
.contacts-button:active {
  background-color: var(--active-red);
}

.main-footer {
  background-color: var(--basic-blue);
}

.main-footer-content {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.footer-logo {
  width: 220px;
  height: 68px;
  background-color: var(--button-red);
  display: inline-flex;
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 20px;
  padding-bottom: 25px;
  box-shadow: inset 0px -5px 0px var(--black1);
}

.footer-contacts {
  width: 321px;
  height: 49px;
}

.footer-address {
  font-size: 18px;
  line-height: 24px;
  color: var(--footer-nav-white);
}

.footer-site-navigation {
  color: var(--footer-nav-white);
}

.footer-catalog-navigation {
  color: var(--footer-nav-yellow);
}

.footer-site-navigation:hover,
.footer-catalog-navigation:hover {
  text-decoration: underline;
}

.footer-site-navigation:active,
.footer-catalog-navigation:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-bottom {
  background-color: var(--basic-dark-blue);

}
.footer-bottom-content {
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
}

.footer-bottom-text {
  width: 226px;
  height: 37px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-feedback {
  width: 137px;
  height: 37px;
}

.footer-copyriting {
  width: 98px;
  height: 37px;
}

.footer-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-links {
  font-size: 16px;
  line-height: 18px;
  color: var(--footer-nav-yellow);
}


/* Страница каталога */

.catalog-menu {
  font-family: var(--basic-font-second);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-menu a {
  text-decoration: none;
  color: var(--basic-black);
}

.header-punchers {
  background-color: var(--basic-light-blue);
  color: var(--basic-blue);
  font-family: var(--basic-font);
  font-size: 30px;
  line-height: 89px;
  text-transform: uppercase;
  width: 940px;
  padding-left: 29px;
}

.main-catalog-filter {
  width: 220px;
  height: 720px;
}

.header-filter {
  background-color: var(--background-filter);
  font-size: 13px;
  line-height: 38px;
  text-transform: uppercase;
  Width: 220px;
  padding-left: 18px;
}

.filter-range {
  background-color: var(--background-filter);
  width: 220px;
  height: 80px;
}

.filter-range-price {
  background-color: var(--background-filter);
  Width: 95px;
  line-height: 38px;
  font-size: 17px;
  font-family: var(--basic-font-second);
  text-align: center;
  text-transform: uppercase;

}

.filter-section {
  font-family: var(--basic-font-second);
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--basic-black);
}

.filter-points {
  font-family: var(--basic-font-second);
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
  color: var(--basic-black);
}

.button-filter {
  Width: 220px;
  line-height: 38px;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;
  border: 1px solid var(--basic-frame);
  background-color: var(--basic-white);
}

.sorting {
  background-color: var(--background-filter);
  font-family: var(--basic-font-second);
  font-size: 13px;
  line-height: 38px;
  Width: 700px;
  text-transform: uppercase;
}

.sorting a {
  text-decoration: none;
  color: var(--basic-black);
}

.page1 {
  width: 38px;
  line-height: 38px;
  font-size: 13px;
  text-align: center;
  font-family: var(--basic-font-second);
  background-color: var(--button-red);
  color: var(--basic-white);
  border-radius: 2px;
}

.pages {
  width: 38px;
  line-height: 38px;
  font-size: 13px;
  text-align: center;
  font-family: var(--basic-font-second);
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-frame);
  box-sizing: border-box;
  border-radius: 2px;
}

.page-next {
  width: 140px;
  line-height: 38px;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--basic-font-second);
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-frame);
  box-sizing: border-box;
  border-radius: 2px;
  display: block;
}

.perforator-text {
  font-family: var(--basic-font-second);
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.main-bottom {
  background-color: var(--footer-nav-white);
  height: 261px;
}


/* Всплывающие окна" */

.modal {
  box-shadow: inset 0px 4px 20px var(--black2);
}

.modal-feedback {
  Width: 620px;
  Height: 430px;
}

.feedback-item {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 24px;
}

.feedback-item input {
  background-color: transparent;
  border: 2px solid var(--link-active);
  box-sizing: border-box;
  border-radius: 2px;
  width: 220px;
  line-height: 38px;
  color: var(--link-active);
}

.feedback-item textarea {
  width: 460px;
  height: 114px;
  border: 2px solid var(--link-active);
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--link-active);
}

.feedback-button {
  width: 460px;
  font-size: 14px;
  line-height: 38px;
  font-family: var(--basic-font);
  text-transform: uppercase;
  text-align: center;
  display: block;
  background-color: var(--button-red);
  border: none;
  color: var(--basic-white);
}

.feedback-button-back {
  background-color: var(--feedback-back);
  width: 620px;
  height: 430px;
}

.modal-basket {
  width: 620px;
  height: 282px;
  font-family: var(--basic-font);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  box-shadow: inset 0px 4px 20px var(--black2);
}
.modal-button-back {
  background-color: var(--feedback-back);
  width: 620px;
  height: 112px;
  text-align: justify; 
}

.modal-basket-button {
  width: 192px;
  line-height: 38px;
  font-size: 14px;
  font-family: var(--basic-font);
  text-transform: uppercase;
  text-align: center;
  display: block;
  background-color: var(--button-red);
  color: var(--basic-white);
}

.modal-basket-continue {
  width: 192px;
  line-height: 38px;
  font-size: 14px;
  font-family: var(--basic-font);
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
  display: block;
}